* {
  outline: none;
}
.button-style{
  margin: 20px 0 10px;
  padding: 10px 0;
  color: #ffffff;
  background-color: #EA97AD;
  width:100%;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

