.profileWrapper {
  margin: 10px 0;
}

.profile-image{
 max-width: 60px;
 border-radius: 100%;
 float: left;
 margin-right: 10px;
}

.profileDetails {
 padding-top: 10px;
}

.profileDetails > p {
  line-height: 0.5;
}

.name {
  font-weight: 600;
  font-size: 14px;
  color: #8a8282;
}

.birthday {
  font-size: 14px;
  color: #8ebada;
}

