.wrapper {
  background-color: #ea97ad;
  width: 100%;
  height: 100vh;
}

.birthdayCard {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  background-color: #ffffff;
  border-radius: 4px;
}

